<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(7,0,123,0.49)" xmlns:th = "http://www.thymeleaf.org">
    <a class="navbar-brand" th:href="@{'/'}">Shop Product</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/'}" th:text="#{label.home}"></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{label.current}">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{'?lng=en'}">English</a>
                    <a class="dropdown-item" th:href="@{'?lng=ru'}">Русский</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{'/search'}">
            <input class="form-control mr-sm-2" type="search"  aria-label="Search" th:placeholder="#{label.search}" name="name">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" th:text="#{label.search}"></button>
        </form>
    </div>
</nav>